<IfModule mod_mime.c>
  AddType audio/webm .webm
  AddType audio/mp4 .m4a
  AddType audio/mpeg .mp3
  AddType audio/wav .wav
</IfModule>

<IfModule mod_headers.c>
  Header set Accept-Ranges bytes
</IfModule>
